.page {
  width: 100%;
  height: 100%;
  position: relative;
}

.particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  z-index: 999;
  background-color: #CDC;
  opacity: 0.9;
  padding: 5px;
  border-radius: 5px;
}

.content-header {
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
}

.card-holder {
  width: 100%;
  /* height: 100%; */
  display: table;
  clear: both;
}

.card33 {
  /* background-color: aqua; */
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  width: 23.33%;
  /* height: 23.33%; */
}

.card33 h3 {
  text-align: center;
}
